In [2]:
import pandas as pd

In [ ]:
df3 = pd.read_excel("file3.xlsx")

In [ ]:
df4 = pd.read_excel("file4.xlsx")

In [58]:
df4.head()

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,186307,CA,M,AAA1229,345,438,3,15915,2,58,388,417,16.142857,1,2511,C2,20.0
1,34174,WV,F,529,198,291,0,10816,0,80,218,257,6.083333,2,3001,T2,12.0
2,101388,MO,M,526,340,342,0,9687,0,89,348,321,5.800000,1,5501,R2,10.0
3,159472,CA,F,621,231,279,0,6184,43,41,237,272,11.666667,1,1512,R3,15.0
4,179143,WA,male,1688,496,564,35,22963,2,63,520,521,23.900000,1,3709,T1,25.0

In [59]:
df3.head()

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,119966,TX,F,321,225,281,0,9372,3,68,264,243,8.058824,0,3212,T3,11.0
1,152470,CA,F,5725,610,807,97,53158,13,22,763,698,23.727273,0,0,S1,45.0
2,48527,AL,Male,931,407,496,0,17743,0,65,502,439,4.416667,2,0,R3,3.0
3,171528,CA,F,1895,317,471,46,17431,10,62,389,405,6.705882,0,5501,R2,5.0
4,50122,Tennessee,F,715,318,370,2,12416,0,75,340,352,9.250000,2,0,T1,10.0

In [51]:
df3.columns = df3.columns.str.lower()
df3.columns

Index(['controln', 'state', 'gender', 'hv1', 'ic1', 'ic4', 'hvp1', 'ic5',
       'pobc1', 'pobc2', 'ic2', 'ic3', 'avggift', 'tcode', 'dob', 'domain',
       'target_d'],
      dtype='object')

In [48]:
df4.columns = df4.columns.str.lower()
df4.columns

Index(['controln', 'state', 'gender', 'hv1', 'ic1', 'ic4', 'hvp1', 'ic5',
       'pobc1', 'pobc2', 'ic2', 'ic3', 'avggift', 'tcode', 'dob', 'domain',
       'target_d'],
      dtype='object')

In [60]:
result = pd.merge(df3, df4, how="inner", on=["state"])

result

,controln_x,state,gender_x,hv1_x,ic1_x,ic4_x,hvp1_x,ic5_x,pobc1_x,pobc2_x,...,ic5_y,pobc1_y,pobc2_y,ic2_y,ic3_y,avggift_y,tcode_y,dob_y,domain_y,target_d_y
0,119966,TX,F,321,225,281,0,9372,3,68,...,21791,2,74,405,462,5.857143,0,1305,C2,5.0
1,119966,TX,F,321,225,281,0,9372,3,68,...,10716,6,65,340,349,4.785714,0,5009,S2,20.0
2,119966,TX,F,321,225,281,0,9372,3,68,...,17825,6,51,468,470,20.000000,0,6201,S1,20.0
3,119966,TX,F,321,225,281,0,9372,3,68,...,20341,1,56,600,584,10.000000,2,4304,C1,20.0
4,119966,TX,F,321,225,281,0,9372,3,68,...,10631,0,71,350,340,10.454545,1,5504,T1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79766,79641,WI,F,1244,672,776,25,25036,1,64,...,11671,1,84,332,346,20.500000,1,2908,R2,5.0
79767,79641,WI,F,1244,672,776,25,25036,1,64,...,15024,5,84,468,496,6.928571,2,3001,C2,12.0
79768,79641,WI,F,1244,672,776,25,25036,1,64,...,12315,0,96,386,295,11.400000,1,7301,T2,14.0
79769,79641,WI,F,1244,672,776,25,25036,1,64,...,11623,1,86,354,335,7.666667,0,5701,T2,7.0
79770,79641,WI,F,1244,672,776,25,25036,1,64,...,12315,0,96,386,295,11.400000,1,7301,T2,14.0

In [63]:
result.drop(['dob_y', 'domain_y'], axis=1, inplace=True)

KeyError: "['dob_y', 'domain_y'] not found in axis"

In [64]:
result

,controln_x,state,gender_x,hv1_x,ic1_x,ic4_x,hvp1_x,ic5_x,pobc1_x,pobc2_x,...,ic4_y,hvp1_y,ic5_y,pobc1_y,pobc2_y,ic2_y,ic3_y,avggift_y,tcode_y,target_d_y
0,119966,TX,F,321,225,281,0,9372,3,68,...,496,2,21791,2,74,405,462,5.857143,0,5.0
1,119966,TX,F,321,225,281,0,9372,3,68,...,381,0,10716,6,65,340,349,4.785714,0,20.0
2,119966,TX,F,321,225,281,0,9372,3,68,...,511,0,17825,6,51,468,470,20.000000,0,20.0
3,119966,TX,F,321,225,281,0,9372,3,68,...,648,1,20341,1,56,600,584,10.000000,2,20.0
4,119966,TX,F,321,225,281,0,9372,3,68,...,350,0,10631,0,71,350,340,10.454545,1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79766,79641,WI,F,1244,672,776,25,25036,1,64,...,372,0,11671,1,84,332,346,20.500000,1,5.0
79767,79641,WI,F,1244,672,776,25,25036,1,64,...,512,0,15024,5,84,468,496,6.928571,2,12.0
79768,79641,WI,F,1244,672,776,25,25036,1,64,...,397,0,12315,0,96,386,295,11.400000,1,14.0
79769,79641,WI,F,1244,672,776,25,25036,1,64,...,376,0,11623,1,86,354,335,7.666667,0,7.0
79770,79641,WI,F,1244,672,776,25,25036,1,64,...,397,0,12315,0,96,386,295,11.400000,1,14.0

In [65]:
result.columns

Index(['controln_x', 'state', 'gender_x', 'hv1_x', 'ic1_x', 'ic4_x', 'hvp1_x',
       'ic5_x', 'pobc1_x', 'pobc2_x', 'ic2_x', 'ic3_x', 'avggift_x', 'tcode_x',
       'dob_x', 'domain_x', 'target_d_x', 'controln_y', 'gender_y', 'hv1_y',
       'ic1_y', 'ic4_y', 'hvp1_y', 'ic5_y', 'pobc1_y', 'pobc2_y', 'ic2_y',
       'ic3_y', 'avggift_y', 'tcode_y', 'target_d_y'],
      dtype='object')

In [ ]:
columns = result.columns.tolist() # create a list of columns
columns

['controln_x',
 'state',
 'gender_x',
 'hv1_x',
 'ic1_x',
 'ic4_x',
 'hvp1_x',
 'ic5_x',
 'pobc1_x',
 'pobc2_x',
 'ic2_x',
 'ic3_x',
 'avggift_x',
 'tcode_x',
 'dob_x',
 'domain_x',
 'target_d_x',
 'controln_y',
 'gender_y',
 'hv1_y',
 'ic1_y',
 'ic4_y',
 'hvp1_y',
 'ic5_y',
 'pobc1_y',
 'pobc2_y',
 'ic2_y',
 'ic3_y',
 'avggift_y',
 'tcode_y',
 'target_d_y']

In [73]:
to_move = ['ic2_x', 'ic3_x', 'ic4_x', 'ic5_x'] 
move_to = 'gender_x'

### finding index position in list

In [ ]:
move_to_index = columns.index(move_to) 
move_to_index # prints the index position of 'gender_x'

2

In [78]:
for col in to_move: 
    columns.remove(col) # removing to_move to reinsert them again

In [79]:
for i, col in enumerate(to_move):
    columns.insert(move_to_index + i, col)

In [80]:
result = result[columns]
result

,controln_x,state,ic2_x,ic3_x,ic4_x,ic5_x,gender_x,hv1_x,ic1_x,hvp1_x,...,ic4_y,hvp1_y,ic5_y,pobc1_y,pobc2_y,ic2_y,ic3_y,avggift_y,tcode_y,target_d_y
0,119966,TX,264,243,281,9372,F,321,225,0,...,496,2,21791,2,74,405,462,5.857143,0,5.0
1,119966,TX,264,243,281,9372,F,321,225,0,...,381,0,10716,6,65,340,349,4.785714,0,20.0
2,119966,TX,264,243,281,9372,F,321,225,0,...,511,0,17825,6,51,468,470,20.000000,0,20.0
3,119966,TX,264,243,281,9372,F,321,225,0,...,648,1,20341,1,56,600,584,10.000000,2,20.0
4,119966,TX,264,243,281,9372,F,321,225,0,...,350,0,10631,0,71,350,340,10.454545,1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79766,79641,WI,713,743,776,25036,F,1244,672,25,...,372,0,11671,1,84,332,346,20.500000,1,5.0
79767,79641,WI,713,743,776,25036,F,1244,672,25,...,512,0,15024,5,84,468,496,6.928571,2,12.0
79768,79641,WI,713,743,776,25036,F,1244,672,25,...,397,0,12315,0,96,386,295,11.400000,1,14.0
79769,79641,WI,713,743,776,25036,F,1244,672,25,...,376,0,11623,1,86,354,335,7.666667,0,7.0
79770,79641,WI,713,743,776,25036,F,1244,672,25,...,397,0,12315,0,96,386,295,11.400000,1,14.0

flter rows based on the following conditions:
- Men who live in Florida (without storing the results)
- Female donors who have donated less than $100 (without storing the results)

In [ ]:
men = result[result.gender_x == 'M']
men


# females = titanic_data[titanic_data.Sex == 'female'] #filtering

,controln_x,state,ic2_x,ic3_x,ic4_x,ic5_x,gender_x,hv1_x,ic1_x,hvp1_x,...,ic4_y,hvp1_y,ic5_y,pobc1_y,pobc2_y,ic2_y,ic3_y,avggift_y,tcode_y,target_d_y
683,101676,MO,560,571,612,18860,M,1162,529,7,...,342,0,9687,0,89,348,321,5.800000,1,10.0
684,101676,MO,560,571,612,18860,M,1162,529,7,...,761,0,25623,4,62,646,654,9.600000,1,16.0
685,101676,MO,560,571,612,18860,M,1162,529,7,...,313,0,10037,1,79,292,285,7.733333,0,100.0
686,101676,MO,560,571,612,18860,M,1162,529,7,...,216,0,7617,1,62,165,189,17.750000,0,16.0
687,101676,MO,560,571,612,18860,M,1162,529,7,...,398,0,12100,0,80,380,382,6.600000,1,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79556,23930,SC,516,595,655,26220,M,891,489,7,...,291,0,8534,0,92,256,254,15.444444,0,17.0
79557,23930,SC,516,595,655,26220,M,891,489,7,...,571,48,26435,5,28,469,528,10.333333,1,15.0
79558,23930,SC,516,595,655,26220,M,891,489,7,...,276,0,8425,0,78,252,249,3.966667,72,5.0
79559,23930,SC,516,595,655,26220,M,891,489,7,...,410,0,19689,8,38,419,305,14.358696,1,15.0
79560,23930,SC,516,595,655,26220,M,891,489,7,...,417,1,14356,1,32,360,375,5.823529,2,5.0

In [90]:
florida = result[result.state == 'FL']
florida

,controln_x,state,ic2_x,ic3_x,ic4_x,ic5_x,gender_x,hv1_x,ic1_x,hvp1_x,...,ic4_y,hvp1_y,ic5_y,pobc1_y,pobc2_y,ic2_y,ic3_y,avggift_y,tcode_y,target_d_y
1888,33003,FL,286,281,333,19039,F,831,242,1,...,817,90,37628,42,15,759,714,6.098901,1,10.0
1889,33003,FL,286,281,333,19039,F,831,242,1,...,464,11,13050,67,26,415,452,20.000000,0,20.0
1890,33003,FL,286,281,333,19039,F,831,242,1,...,240,0,10003,8,17,251,199,6.538462,0,8.0
1891,33003,FL,286,281,333,19039,F,831,242,1,...,525,38,24259,7,13,346,445,12.666667,2,20.0
1892,33003,FL,286,281,333,19039,F,831,242,1,...,470,0,15356,7,37,424,450,14.285714,2,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79649,46153,FL,290,333,406,14946,F,933,224,5,...,423,4,11670,10,27,406,200,9.230769,28,10.0
79650,46153,FL,290,333,406,14946,F,933,224,5,...,313,0,12509,2,23,272,324,10.115385,1,10.0
79651,46153,FL,290,333,406,14946,F,933,224,5,...,274,0,11132,8,11,263,262,14.692308,1,20.0
79652,46153,FL,290,333,406,14946,F,933,224,5,...,470,0,15356,7,37,424,450,14.285714,2,50.0
79653,46153,FL,290,333,406,14946,F,933,224,5,...,423,4,11670,10,27,406,200,9.230769,28,10.0

In [91]:
result[(result.state == "FL") & (result.gender_x == 'M')]

,controln_x,state,ic2_x,ic3_x,ic4_x,ic5_x,gender_x,hv1_x,ic1_x,hvp1_x,...,ic4_y,hvp1_y,ic5_y,pobc1_y,pobc2_y,ic2_y,ic3_y,avggift_y,tcode_y,target_d_y
2715,35581,FL,377,360,473,16729,M,906,296,3,...,817,90,37628,42,15,759,714,6.098901,1,10.0
2716,35581,FL,377,360,473,16729,M,906,296,3,...,464,11,13050,67,26,415,452,20.000000,0,20.0
2717,35581,FL,377,360,473,16729,M,906,296,3,...,240,0,10003,8,17,251,199,6.538462,0,8.0
2718,35581,FL,377,360,473,16729,M,906,296,3,...,525,38,24259,7,13,346,445,12.666667,2,20.0
2719,35581,FL,377,360,473,16729,M,906,296,3,...,470,0,15356,7,37,424,450,14.285714,2,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78019,35328,FL,526,575,579,16035,M,1454,523,14,...,423,4,11670,10,27,406,200,9.230769,28,10.0
78020,35328,FL,526,575,579,16035,M,1454,523,14,...,313,0,12509,2,23,272,324,10.115385,1,10.0
78021,35328,FL,526,575,579,16035,M,1454,523,14,...,274,0,11132,8,11,263,262,14.692308,1,20.0
78022,35328,FL,526,575,579,16035,M,1454,523,14,...,470,0,15356,7,37,424,450,14.285714,2,50.0
78023,35328,FL,526,575,579,16035,M,1454,523,14,...,423,4,11670,10,27,406,200,9.230769,28,10.0

Filter by 
- Female donors who have donated less than $100 (without storing the results)

In [94]:
result[(result.avggift_y <= 100) & (result.gender_x == 'F')]

,controln_x,state,ic2_x,ic3_x,ic4_x,ic5_x,gender_x,hv1_x,ic1_x,hvp1_x,...,ic4_y,hvp1_y,ic5_y,pobc1_y,pobc2_y,ic2_y,ic3_y,avggift_y,tcode_y,target_d_y
0,119966,TX,264,243,281,9372,F,321,225,0,...,496,2,21791,2,74,405,462,5.857143,0,5.0
1,119966,TX,264,243,281,9372,F,321,225,0,...,381,0,10716,6,65,340,349,4.785714,0,20.0
2,119966,TX,264,243,281,9372,F,321,225,0,...,511,0,17825,6,51,468,470,20.000000,0,20.0
3,119966,TX,264,243,281,9372,F,321,225,0,...,648,1,20341,1,56,600,584,10.000000,2,20.0
4,119966,TX,264,243,281,9372,F,321,225,0,...,350,0,10631,0,71,350,340,10.454545,1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79766,79641,WI,713,743,776,25036,F,1244,672,25,...,372,0,11671,1,84,332,346,20.500000,1,5.0
79767,79641,WI,713,743,776,25036,F,1244,672,25,...,512,0,15024,5,84,468,496,6.928571,2,12.0
79768,79641,WI,713,743,776,25036,F,1244,672,25,...,397,0,12315,0,96,386,295,11.400000,1,14.0
79769,79641,WI,713,743,776,25036,F,1244,672,25,...,376,0,11623,1,86,354,335,7.666667,0,7.0
79770,79641,WI,713,743,776,25036,F,1244,672,25,...,397,0,12315,0,96,386,295,11.400000,1,14.0

## Filter by rows and columns 
- Use iloc to get the first 100 rows and columns with indexes 2, 3, 4, and 5.

In [103]:
women = result[result.gender_x == 'F']
women.iloc[0:100, [2, 3, 4, 5]].reset_index()

    index  ic2_x  ic3_x  ic4_x  ic5_x
0       0    264    243    281   9372
1       1    264    243    281   9372
2       2    264    243    281   9372
3       3    264    243    281   9372
4       4    264    243    281   9372
..    ...    ...    ...    ...    ...
95     95    763    698    807  53158
96     96    763    698    807  53158
97     97    763    698    807  53158
98     98    763    698    807  53158
99     99    763    698    807  53158

[100 rows x 5 columns]

### Check the data types of all columns in the DataFrame.

In [111]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79771 entries, 0 to 79770
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   controln_x  79771 non-null  int64
 1   state       79771 non-null  object
 2   ic2_x       79771 non-null  int64
 3   ic3_x       79771 non-null  int64
 4   ic4_x       79771 non-null  int64
 5   ic5_x       79771 non-null  int64
 6   gender_x    76557 non-null  object
 7   hv1_x       79771 non-null  int64
 8   ic1_x       79771 non-null  int64
 9   hvp1_x      79771 non-null  int64
 10  pobc1_x     79771 non-null  int64
 11  pobc2_x     79771 non-null  int64
 12  avggift_x   79771 non-null  float64
 13  tcode_x     79771 non-null  int64
 14  dob_x       79771 non-null  int64
 15  domain_x    79771 non-null  object
 16  target_d_x  79771 non-null  float64
 17  controln_y  79771 non-null  int64
 18  gender_y    77301 non-null  object
 19  hv1_y       79771 non-null  object
 20  ic1_y       79771 non-null  int64
 21  ic4_y       79771 non-null  int64
 22  hvp1_y      79771 non-null  int64
 23  ic5_y       79771 non-null  int64
 24  pobc1_y     79771 non-null  int64
 25  pobc2_y     79771 non-null  int64
 26  ic2_y       79771 non-null  int64
 27  ic3_y       79771 non-null  int64
 28  avggift_y   79771 non-null  float64
 29  tcode_y     79771 non-null  int64
 30  target_d_y  79771 non-null  float64
dtypes: float64(4), int64(22), object(5)
memory usage: 18.9+ MB

### Use select_dtypes() to select all numerical columns (both integers and floats).

In [105]:
result.select_dtypes(int, float)

,controln_x,ic2_x,ic3_x,ic4_x,ic5_x,hv1_x,ic1_x,hvp1_x,pobc1_x,pobc2_x,...,controln_y,ic1_y,ic4_y,hvp1_y,ic5_y,pobc1_y,pobc2_y,ic2_y,ic3_y,tcode_y
0,119966,264,243,281,9372,321,225,0,3,68,...,123972,359,496,2,21791,2,74,405,462,0
1,119966,264,243,281,9372,321,225,0,3,68,...,122090,279,381,0,10716,6,65,340,349,0
2,119966,264,243,281,9372,321,225,0,3,68,...,118831,440,511,0,17825,6,51,468,470,0
3,119966,264,243,281,9372,321,225,0,3,68,...,118805,520,648,1,20341,1,56,600,584,2
4,119966,264,243,281,9372,321,225,0,3,68,...,126945,319,350,0,10631,0,71,350,340,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79766,79641,713,743,776,25036,1244,672,25,1,64,...,81200,305,372,0,11671,1,84,332,346,1
79767,79641,713,743,776,25036,1244,672,25,1,64,...,80336,464,512,0,15024,5,84,468,496,2
79768,79641,713,743,776,25036,1244,672,25,1,64,...,2231,217,397,0,12315,0,96,386,295,1
79769,79641,713,743,776,25036,1244,672,25,1,64,...,77441,316,376,0,11623,1,86,354,335,0
79770,79641,713,743,776,25036,1244,672,25,1,64,...,2231,217,397,0,12315,0,96,386,295,1

### Convert columns with numerical values stored as object types to appropriate numeric types.

In [ ]:
result.select_dtypes(object) # view columns stored as object types

# df = df.astype({"col1": int, "col2": float})

      state gender_x domain_x gender_y hv1_y
0        TX        F       T3        F   496
1        TX        F       T3        M   405
2        TX        F       T3        F   850
3        TX        F       T3        F  1095
4        TX        F       T3        M   783
...     ...      ...      ...      ...   ...
79766    WI        F       S1     male   612
79767    WI        F       S1        F   836
79768    WI        F       S1     male   564
79769    WI        F       S1        F   725
79770    WI        F       S1     male   564

[79771 rows x 5 columns]

In [ ]:
result = result.astype({"hv1_y": int}) # shows that some rows are not numbers and can't be converted to intergers

ValueError: invalid literal for int() with base 10: 'AAA1229': Error while type casting for column 'hv1_y'

### Use pd.to_numeric() to check for numeric values.
- This function tries to convert values to numbers. 
- If it can’t, it will set them as NaN (Not a Number) if you use errors='coerce'.
- This will give you a Series where non-numeric values become NaN.

In [117]:
pd.to_numeric(result["hv1_y"], errors='coerce')

0         496.0
1         405.0
2         850.0
3        1095.0
4         783.0
          ...
79766     612.0
79767     836.0
79768     564.0
79769     725.0
79770     564.0
Name: hv1_y, Length: 79771, dtype: float64

### To find out which rows are NOT numbers:
- isna()

In [120]:
mask = pd.to_numeric(result["hv1_y"], errors='coerce').isna()
print(result[mask])

       controln_x state  ic2_x  ic3_x  ic4_x  ic5_x gender_x  hv1_x  ic1_x  \
70         152470    CA    763    698    807  53158        F   5725    610
72         152470    CA    763    698    807  53158        F   5725    610
112        152470    CA    763    698    807  53158        F   5725    610
319        171528    CA    389    405    471  17431        F   1895    317
321        171528    CA    389    405    471  17431        F   1895    317
...           ...   ...    ...    ...    ...    ...      ...    ...    ...
79169      145275    CA    426    461    508  31120        F   3833    365
79171      145275    CA    426    461    508  31120        F   3833    365
79211      145275    CA    426    461    508  31120        F   3833    365
79562       46153    FL    290    333    406  14946        F    933    224
79583       46153    FL    290    333    406  14946        F    933    224

       hvp1_x  ...  ic4_y  hvp1_y  ic5_y  pobc1_y  pobc2_y ic2_y  ic3_y  \
70         97  ...    438       3  15915        2       58   388    417
72         97  ...    393       8  10990       19       51   275    376
112        97  ...    388       4  22845        4       71   221    337
319        46  ...    438       3  15915        2       58   388    417
321        46  ...    393       8  10990       19       51   275    376
...       ...  ...    ...     ...    ...      ...      ...   ...    ...
79169      93  ...    438       3  15915        2       58   388    417
79171      93  ...    393       8  10990       19       51   275    376
79211      93  ...    388       4  22845        4       71   221    337
79562       5  ...    464      11  13050       67       26   415    452
79583       5  ...    331       0  13727       13        7   273    294

       avggift_y tcode_y target_d_y
70     16.142857       1       20.0
72      7.625000       1       15.0
112     7.454545     228       12.0
319    16.142857       1       20.0
321     7.625000       1       15.0
...          ...     ...        ...
79169  16.142857       1       20.0
79171   7.625000       1       15.0
79211   7.454545     228       12.0
79562  20.000000       0       20.0
79583   6.600000       0        7.0

[799 rows x 31 columns]

### us .loc to locate...

In [121]:
print(result.loc[mask, "hv1_y"])

70       AAA1229
72       AAA1305
112       AAA689
319      AAA1229
321      AAA1305
          ...
79169    AAA1229
79171    AAA1305
79211     AAA689
79562    AAA1119
79583     AAA713
Name: hv1_y, Length: 799, dtype: object

- Convert the column to numbers, turning bad values into NaN (missing data).
- That way, you can decide later if you want to drop those rows or fill them.
- This makes a new column (hv1_y_clean) that is all numbers, but will be NaN wherever the data wasn’t numeric.

In [ ]:
result["hv1_y_clean"] = pd.to_numeric(result["hv1_y"], errors='coerce')

print(result[["hv1_y", "hv1_y_clean"]].head(10))

  hv1_y  hv1_y_clean
0   496        496.0
1   405        405.0
2   850        850.0
3  1095       1095.0
4   783        783.0
5   962        962.0
6   345        345.0
7   689        689.0
8   623        623.0
9   363        363.0

/var/folders/2n/c95ntf5d1wx1_vrd1b3ljbkw0000gn/T/ipykernel_34297/3109067168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result["hv1_y_clean"] = pd.to_numeric(result["hv1_y"], errors='coerce')

In [124]:
print(result.loc[mask, "hv1_y_clean"])

70      NaN
72      NaN
112     NaN
319     NaN
321     NaN
         ..
79169   NaN
79171   NaN
79211   NaN
79562   NaN
79583   NaN
Name: hv1_y_clean, Length: 799, dtype: float64

### Option 1: Drop NaNs first, then convert to int

In [126]:
cleaned = result.dropna(subset=["hv1_y_clean"])
cleaned["hv1_y_clean"] = cleaned["hv1_y_clean"].astype(int)

/var/folders/2n/c95ntf5d1wx1_vrd1b3ljbkw0000gn/T/ipykernel_34297/1096143219.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned["hv1_y_clean"] = cleaned["hv1_y_clean"].astype(int)

In [128]:
cleaned["hv1_y_clean"]

0         496
1         405
2         850
3        1095
4         783
         ...
79766     612
79767     836
79768     564
79769     725
79770     564
Name: hv1_y_clean, Length: 78972, dtype: int64